.hero_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0;
}
.hero_content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #141414;
    width: 210px;
    height: 70px;
    padding: 0 15px;
    border-radius: 10px;
}
.hero_title{
    color: #909090;
}
.hero_content span{
    width: 40px;
    height: 40px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero_content:nth-of-type(1) span{
    color: #22CC70;
    border-color: #22CC70;
}
.hero_content:nth-of-type(2) span{
    color: #22CC70;
    border-color: #22CC70;
}
.hero_content:nth-of-type(3) span{
    color:  #FC8800;
    border-color: #FC8800;
}
.hero_content:nth-of-type(4) span{
    color:  #CC2222;
    border-color: #CC2222;
}
.hero_content:nth-of-type(5) span{
    color: #22CC70;
    border-color: #22CC70;
}