.students {
    margin: 50px 0 50px;
}

.students__wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
    margin-top: 50px;
}
.student__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 14px 20px 13px 18px;
    border-radius: 8px;
    background-color: #151515;
    width: 570px;
}
.student__card h4 {
    font-size: 15px;
    color: #909090;
    font-weight: 400;
    line-height: 18.29px;
}
.student_img_and_name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.student_icon_and_number {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.student_icon {
    color: #22CC70;
    size: 30px;
}
.add_btn{
    background-color: #0f0f0f;
    color: #909090;
    border: none;
    padding: 7px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s;
}
.add_btn:hover{
    background-color: #909090;
    color: white;
}
@media(max-width: 1220px){
    .students__wrapper {
        display: block;
        
    }
}